<a href="https://colab.research.google.com/github/garryDCU/FYP/blob/main/create_info_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create an information file

Includes:
* Participant information
* Workload at lactate threshold

This information will be used to:
* Identify steady state workloads (below lactate threshold)
* Give me the ability to drill down into the data

## Imports

In [41]:
import pandas as pd
import glob
from google.colab import drive

## *Mount the drive*

In [42]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## *Go through the folder and use the files to create the output CSV file*

In [43]:
# create lists for data to go into

filename=[]
sport=[]
gender=[]
dob=[]
date_test=[]
lt_load=[]
height=[]
weight=[]
hb=[]
hct=[]
rbc=[]
wbc=[]

In [44]:
for file in glob.glob('drive/My Drive/FYP/TestData/*.xlsx'):
  
  # open the file and create dfs
  xls = pd.ExcelFile(file)
  df1 = pd.read_excel(xls, sheet_name='Sheet1', header=None)
  df3 = pd.read_excel(xls, sheet_name='Sheet3', header=None)

  # get file name
  name=file[28:]
  filename.append(name)

  # reformat df1
  df1=df1.rename(columns={0: "Measurement", 1: "Value"})
  df1=df1.set_index('Measurement')

  # update the lists
  sport.append(df1._get_value('Test:', 'Value'))
  gen=df1._get_value('Gender:', 'Value')
  if len(gen)>1:
    gender.append(gen[:1])
  else:   
    gender.append(gen)
  dob.append(df1._get_value('DOB:', 'Value'))
  date_test.append(df1._get_value('Test Date:', 'Value'))
  height.append(df1._get_value('Height', 'Value'))
  weight.append(df1._get_value('Weight', 'Value'))
  hb.append(df1._get_value('Hb', 'Value'))
  hct.append(df1._get_value('Hct', 'Value'))
  rbc.append(df1._get_value('RBC', 'Value'))
  wbc.append(df1._get_value('WBC', 'Value'))

  # reformat df3
  df3=df3.rename(columns={0: "Measurement", 1: "Value"})
  df3['Measurement']=['VO2max', 'absolute_VO2max', 'Vemax', 'Hrmax', 'Load_Tlac', 'HR_Tlac', 'percentVO2max_Tlac', 'percentHRmax_Tlac', 'Bla_Tlac', 'Load_2mmol', 'HR_2mmol', 'Bla_160bpm', 'VO2_160bpm', 'Load_160bpm']
  df3=df3.set_index('Measurement')

  # update the lists
  lt_load.append(df3._get_value('Load_Tlac', 'Value'))

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

## *Create the CSV and export the file back to drive*

In [45]:
# create df

info_df = pd.DataFrame(
    {'file': filename,
     'sport': sport,
     'gender': gender,
     'DOB': dob, 
     'test_date': date_test, 
     'lt_load': lt_load, 
     'height': height,
     'weight': weight,
     'hb': hb,
     'hct': hct,
     'rbc': rbc, 
     'wbc': wbc
    })

# preview the df

info_df.head()

         file    sport gender                  DOB  ...    hb   hct   rbc  wbc
0   A104.xlsx  Running      M  1986-06-17 00:00:00  ...  15.1  44.3  4.78  5.6
1  A1036.xlsx  Running      M  1982-01-21 00:00:00  ...  15.3  45.4  4.76  4.6
2  A1024.xlsx  Running      F  1970-01-05 00:00:00  ...  13.1  37.3  3.80  5.0
3  A1004.xlsx  Running      M  1982-02-27 00:00:00  ...  15.1  46.4  4.81  5.6
4  A1009.xlsx  Running      M  1969-10-21 00:00:00  ...  15.4  47.1  5.31  7.3

[5 rows x 12 columns]

In [46]:
# output as a CSV

info_df.to_csv('drive/My Drive/FYP/DataInfo.csv')