<a href="https://colab.research.google.com/github/garryDCU/FYP/blob/main/excel_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mount the Drive

In [ ]:
import pandas as pd
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Get the data

In [ ]:
xls = pd.ExcelFile('drive/My Drive/A1.xlsx')
df1 = pd.read_excel(xls, sheet_name='Sheet1', header=None)
df2 = pd.read_excel(xls, sheet_name='Sheet2')
df3 = pd.read_excel(xls, sheet_name='Sheet3', header=None)

In [ ]:
xls = pd.ExcelFile('A1.xlsx')
df1 = pd.read_excel(xls, sheet_name='Sheet1', header=None)
df2 = pd.read_excel(xls, sheet_name='Sheet2')
df3 = pd.read_excel(xls, sheet_name='Sheet3', header=None)

In [ ]:
df3.head()

                   0       1
0             VO2max   69.30
1  VO2max (absolute)    5.34
2              Vemax  170.10
3              Hrmax  190.00
4        Load @ Tlac  152.00

# Access data from Sheet 1

In [ ]:
df1=df1.rename(columns={0: "Measurement", 1: "Value"})
df1=df1.set_index('Measurement')

In [ ]:
df1.head()

                           Value
Measurement
Name:                        NaN
Gender:                        M
Event:                     Kayak
Test:                      Kayak
Test Date:   2003-03-11 00:00:00

In [ ]:
df1._get_value('Gender:', 'Value')

'M'

# Access data from sheet 3

In [ ]:
df3=df3.rename(columns={0: "Measurement", 1: "Value"})
df3['Measurement']=['VO2max', 'absolute_VO2max', 'Vemax', 'Hrmax', 'Load_Tlac', 'HR_Tlac', 'percentVO2max_Tlac', 'percentHRmax_Tlac', 'Bla_Tlac', 'Load_2mmol', 'HR_2mmol', 'Bla_160bpm', 'VO2_160bpm', 'Load_160bpm']
df3=df3.set_index('Measurement')

In [ ]:
df3.head()

                  Value
Measurement
VO2max            69.30
absolute_VO2max    5.34
Vemax            170.10
Hrmax            190.00
Load_Tlac        152.00

In [ ]:
df3._get_value('Load_Tlac', 'Value')

152.0